@font-face{
    font-family: 'Quicksand';
    src: url('/assets/fonts/static/Quicksand-Regular.ttf');
}
@font-face{
    font-family: 'Quicksand-Bold';
    src: url('/assets/fonts/static/Quicksand-Bold.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand';
    color: #fff;
    background-color: #151525;

}

.container{
    background-color: #151525;
    max-width: 1903px;
    margin: 0 auto;
}

.container a{
    text-decoration: none;
    color: #fff;
}

.container .banner{
    width: 100%;
    min-height: 100vh;
    background-image: url('/assets/img/Hexagon.svg');
    /* background-repeat: no-repeat; */
    padding-top: 30px;
}

/* grid principal banner */
.banner{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}


.banner .header{
    /* border: 1px solid white; */
    grid-column: 1/-1;
}

/* nav horizontal */
.banner .header .nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.banner .header .nav ul li{
    margin-right: 80px;
    font-weight: bold;
    
}

.banner .header .nav ul li a:hover{
    transition: all 0.3s ease;
    color: #F38585;
    cursor: pointer;
}

.btn_menu{
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

ul.show{
    top: 65px;
    height: 100%;
}

/* @media screen and (max-width: 952px){

} */



/* INICIO donde dice grande SANTIAGO */
.banner .inicio{
    /* border: 1px solid white; */
    grid-column: 1/6;
    padding: 80px;
    padding-right: 0;
}

.banner .inicio h1{
    font-family: 'Quicksand-Bold';
    font-size: 144px;
    font-weight: bold;
}

.banner .inicio .red{
    color: #F38585;
}

.banner .inicio h2{
    font-family: 'Quicksand-Bold';
    font-size: 96px;
    font-weight: bold;
}

.banner .boton{
    margin-top: 32px;
    border: 1px solid #fff;
    width: 293px;
    height: 78px;
    padding: 10px;
    font-size: 44px;
    text-align: center;
    transition: all 0.5s ease;
}

.banner .boton a{
    padding: 10px;
    transition: all 0.5s ease;

}

.banner .boton a:hover{
    color: #F38585;
}


.banner .boton:hover{
    border: 1px solid #F38585;
    cursor: pointer;
}


/* tamaño avatar */
.banner .imagen{
    /* border: 1px solid white; */
    padding-right: 190px;
}

.banner .imagen .avatar{
    width: 400px;
}

/* ICONOS DE LINKEDIN Y GIT */

.banner .info{
    /* border: 1px solid white; */
    grid-column: 1/-1;
    display: flex;
    align-items: flex-end;
    padding-left: 80px;
    padding-bottom: 15px;
}

.banner .info .linkedin-info{
    width: 42px;
    height: 42px;
    margin-right: 15px;
}

.banner .info .linkedin-info{
    width: 48px;
    height: 48px;
}

/* FIN DE INICIO */

/* COMIENZO DE SOBRE MI */
.sobre-mi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.sobre-mi .title{
    /* border: 1px solid #fff; */
    grid-column: 1/-1;
    color: #F38585;
    font-size: 30px;
    text-decoration: underline;
    margin-top: 80px;

    padding-left: 80px;
}

.sobre-mi .body{
    /* border: 1px solid #fff; */
    grid-column: 1/2;
    padding-left: 80px;
}

.sobre-mi .body h3{
    font-size: 48px;
    margin-bottom: 20px;
}

.sobre-mi .body p{
    font-size: 20px;
}

.sobre-mi .imagen{
    /* border: 1px solid #fff; */
    padding-right: 160px;
}

/* FIN SOBRE MI */

/* COMIENZO HABILIDADES */
/* 4 de filas
5 columnas */
.habilidades{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    padding-right: 80px;
    padding-left: 80px;
}

.habilidades .title{
        /* border: 1px solid #fff; */
        grid-column: 1/-1;
        color: #F38585;
        font-size: 30px;
        text-decoration: underline;
        margin-top: 300px;
        display: flex;
        align-items:center;
        justify-content: flex-end;
        /* padding-right: 80px; */
}

.habilidades .imagen{
    /* border: 1px solid #fff; */
    grid-row: 2/5;
    /* padding-left: 80px; */
}



.habilidades .card{
    /* border: 1px solid #fff; */
    display: flex;
    /* centrar y ubicar verticalmente */
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.habilidades .card img{
    width: 100px;
    height: 100px;
}
/* FIN HABILIDADES */

/* COMIENZO PROYECTOS */
/* 3 filas y columnas */
.proyectos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding-right: 80px;
    padding-left: 80px;
}

.proyectos .title{
    grid-column: 1/-1;
    color: #F38585;
    font-size: 30px;
    text-decoration: underline;
    margin-top: 300px;
}

.proyectos .card-proyecto{
    border: 1px solid #fff;
    border-radius: 4px;
}

.proyectos p{
    padding: 10px;
}

.proyectos .card-proyecto .ver-sitio{
    
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #F38585;
    width: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.proyectos .card-proyecto .ver-sitio a{
    color: #F38585;
    padding: 5px 2px;
}

.proyectos .card-proyecto img{
    width: 100%;
}

/* FIN PROYECTOS */

/* BOTON hacia arriba */

#button-up{
    width: 60px;
    height: 60px;
    /* color: black; */
    background-color: #F38585;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
}

/* FIN BOTON */

/* COMIENZO FOOTER */
/* 4 columnas 
3 filas*/

.footer{
    margin-top: 80px;
    background-color: #30306A;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    grid-template-areas: "numero1 email email redes"
                            "numero2 numero2 numero2 numero2"
                            "copyright copyright copyright copyright";
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 20px;
}

.footer .numero-1{
    grid-area: numero1;
}

.footer .numero-2{
    grid-area: numero2;
}

.footer .email{
    grid-area: email;
}

.footer .redes{
    grid-area: redes;
    text-align: end;
}

.footer .copy{
    grid-area: copyright;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 7px;
}

@media screen and (max-width: 858px){
    /* NAV RESPONSIVE */
    .nav{
        height: 65px;
    }

    .btn_menu{
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;

    }

    .banner .header .nav ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        z-index: 1;
    }

    .banner .header .nav ul li{
        margin-right: 0;
    }

    .menu_items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        /* height: 100%; */
        background: #151525;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }

    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }

    .menu_items li a{
        font-size: 20px;
    }
    /* FIN NAV RESPOSIVE */

    /* BANNER RESPONSIVE */
    .banner .imagen{
        grid-column: 1/-1;
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .banner .inicio{
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 0;
        grid-column: 1/-1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .banner .inicio h1 span{
        font-size: 73px;

    }

    .banner .inicio #developer{
        font-size: 50px;
    }

    .banner .info{
        grid-column: 1/-1;
        /* border: 1px solid  #fff; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 80px;
    }
    /* FIN BANNER RESPONSIVE */

    /* SOBRE MI RESPONSIVE */

    .sobre-mi{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sobre-mi .title{
        grid-column: 1/-1;
        padding: 0;
    }

    .sobre-mi .body{
        grid-column: 1/-1;
        padding-left: 0;
    }
    .sobre-mi .imagen{
        padding: 0;
        padding-top: 60px;
    }

    .sobre-mi .imagen img{
        width: 550px;
    }
    /* FIN SOBRE MI RESPONSIVE */

    /* HABILIDADES */
    .habilidades{
        /* display: grid; */
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, auto);
        gap: 20px;
        padding-right: 80px;
        padding-left: 80px;
    }

    .habilidades .title{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .habilidades .imagen{
        grid-column: 1/-1;
        grid-row: 5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .habilidades .imagen img{
        width: 550px;
    }

    /* FIN HABILIDADES */

    /* PROYECTOS */
    /* 7 filas 1 colum */
    .proyectos{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, auto);
    }
    .proyectos .title{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* FIN PROYECTOS */

    /* FOOTER */
    /* 4 filas
    3 colum */

    .footer{
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "numero1 numero1 numero1 redes"
                                "numero2 numero2 numero2 numero2"
                                "email email email email"
                                "copyright copyright copyright copyright";
    }

    .footer .email{
        grid-area: email;
        font-size: 14px;

    }

    .footer .numero-1, .numero-2{
        font-size: 14px;
    }

    .footer .copy{
        grid-area: copyright;
        font-size: 15px;

    }
}