@font-face{
    font-family: 'Quicksand';
    src: url('/assets/fonts/static/Quicksand-Regular.ttf');
}
@font-face{
    font-family: 'Quicksand-Bold';
    src: url('/assets/fonts/static/Quicksand-Bold.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand';
    color: #fff;
}

.container{
    background-color: #151525;

}

.container a{
    text-decoration: none;
    color: #fff;
}

.container .banner{
    width: 100%;
    min-height: 100vh;
    background-image: url('/assets/img/Hexagon.svg');
    padding-top: 30px;
}

/* grid principal banner */
.banner{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}


.banner .header{
    /* border: 1px solid white; */
    grid-column: 1/-1;
}

/* nav horizontal */
.banner .header .nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.banner .header .nav ul li{
    margin-right: 80px;
    font-weight: bold;
    
}

.banner .header .nav ul li a:hover{
    transition: all 0.3s ease;
    color: #F38585;
    cursor: pointer;
}

/* INICIO donde dice grande SANTIAGO */
.banner .inicio{
    /* border: 1px solid white; */
    grid-column: 1/6;
    padding: 80px;
}

.banner .inicio h1{
    font-family: 'Quicksand-Bold';
    font-size: 144px;
    font-weight: bold;
}

.banner .inicio .red{
    color: #F38585;
}

.banner .inicio h2{
    font-family: 'Quicksand-Bold';
    font-size: 96px;
    font-weight: bold;
}

.banner .boton{
    margin-top: 32px;
    border: 1px solid #fff;
    width: 293px;
    height: 78px;
    padding: 10px;
    font-size: 44px;
    text-align: center;
    transition: all 0.5s ease;
}

.banner .boton:hover{
    border: 1px solid #F38585;
    color: #F38585;
    cursor: pointer;
}


/* tamaño avatar */
.banner .imagen{
    /* border: 1px solid white; */
    padding-right: 190px;
}

.banner .imagen .avatar{
    width: 400px;
}

/* ICONOS DE LINKEDIN Y GIT */

.banner .info{
    /* border: 1px solid white; */
    grid-column: 1/-1;
    display: flex;
    align-items: flex-end;
    padding-left: 80px;
    padding-bottom: 15px;
}

.banner .info .linkedin-info{
    width: 42px;
    height: 42px;
    margin-right: 15px;
}

.banner .info .linkedin-info{
    width: 48px;
    height: 48px;
}

/* FIN DE INICIO */

/* COMIENZO DE SOBRE MI */
.sobre-mi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.sobre-mi .title{
    /* border: 1px solid #fff; */
    grid-column: 1/-1;
    color: #F38585;
    font-size: 30px;
    text-decoration: underline;
    margin-top: 80px;

    padding-left: 80px;
}

.sobre-mi .body{
    /* border: 1px solid #fff; */
    grid-column: 1/2;
    padding-left: 80px;
}

.sobre-mi .body h3{
    font-size: 48px;
    margin-bottom: 20px;
}

.sobre-mi .body p{
    font-size: 20px;
}

.sobre-mi .imagen{
    /* border: 1px solid #fff; */
    padding-right: 160px;
}

/* FIN SOBRE MI */

/* COMIENZO HABILIDADES */
/* 4 de filas
5 columnas */
.habilidades{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    padding-right: 80px;
    padding-left: 80px;
}

.habilidades .title{
        /* border: 1px solid #fff; */
        grid-column: 1/-1;
        color: #F38585;
        font-size: 30px;
        text-decoration: underline;
        margin-top: 300px;
        display: flex;
        align-items:center;
        justify-content: end;
        /* padding-right: 80px; */
}

.habilidades .imagen{
    /* border: 1px solid #fff; */
    grid-row: 2/5;
    /* padding-left: 80px; */
}



.habilidades .card{
    /* border: 1px solid #fff; */
    display: flex;
    /* centrar y ubicar verticalmente */
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.habilidades .card img{
    width: 100px;
    height: 100px;
}